.top{
    background-color: #1F2937;

}

.header{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: auto;
    justify-content: space-around;
    border: #1F2937;
}

ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    float: right;
}

#logo{
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
    color: white;
}

.hero{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    gap: 0;
}

.heroleft{
    display: flex;
    align-items: flex-start;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    justify-content: space-around;
    width: 455px;
    height: auto;
    margin: 100px;
    margin-right: 0;
}

#heropic{
    width: 500px;
    height: auto;
    display: flex;
    padding: 30px;    
    margin: 100px;
    margin-left: 0;

}

button{
    width: 100px;
    height: auto;
    color: white;
    background-color: #3882f6;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

.middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 40px;

}

#middletext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;

}

.cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    border: black;
    padding-bottom: 40px;
}

#cardpic{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.third{
    background-color: #e5e7eb;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    width: 100%;
}

#quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 20;
    padding: 25px;
    margin: 0;
    text-align: left;
    color: #1f2937;
    font-size: 30px;

}

#thor{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
    float: right;
}

.four{
    background-color: white;
    padding: 70px;
}

.container{
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    border-radius: 15px;
    width: 2000;
}



